<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo Application</title>
</head>
<body>
 <h1>TO DO APPLICATION</h1>
 <div>
     <form action="/" method = "post" >
         <div>
             <input type = "Text" name = "title" placeholder="Add a new task..." required>
         </div>
         <div>
             <button type = "submit">Add</button>
         </div>
     </form>
     <th:block th:each = "task : ${tasks}">
         <div>
             <span th:text="${task.title}">Task Title</span>
         </div>
     </th:block>
 </div>
</body>
</html>